/*
    font-family: 'Droid Serif', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;

'Droid Serif', serif; wszystkie teksty pochyłą czcionką
'Montserrat', sans-serif; menu, nagłówki i buttony -
RobotoSlab - pozostały tekst

KOLORY:

    Niebiesko-błękitny - buttony, hover - #0ed8d6
    Font - Nagłówki - #333333
    Font - pozostały tekst - #777777
    Tło sekcji portfolio - #f7f7f7
    Ikony social media - #222222

*/


/* GENERAL */

body {
	text-align: center;
	left: 0;
	right: 0;
	color: #333333;
	font-family: 'Montserrat';
}

a:visited {
	color: #0ed8d6;
}

h1, h2, h3 {
	color: #333333;
	padding: 15px 30px;
	font-family: 'Montserrat';	
    text-transform: uppercase;
}

.row {
    margin-bottom: 20px;
}

div.row p {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 14px;
}

/* NAVIGATION BAR */

#main-nav {
	background-color: transparent;
	border: 1px solid transparent;
	transition: all 0.3s;
	font-family: 'Montserrat', sans-serif;
    float: left;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


.navbar-custom .container .navbar-header .navbar-brand {
    color: #0ed8d6;
    font-family: 'Droid Serif', serif;
    padding: 10px 0;
}

#bs-example-navbar-collapse-1 {
    padding: 10px 3px;
}

#main-nav.scroll {
  background-color: rgba(5, 0, 0, 0.1);
}

.navbar-custom .navbar-toggle {
  background-color: #0ed8d6;
  border-color: #0ed8d6;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #0ed8d6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #0ed8d6;
    color: white;
}



/* HEADER */

header#main-header{
    background: 
    linear-gradient(
      rgba(5, 0, 0, 0.5), 
      rgba(5, 0, 0, 0.5)
    ),url('../img/header/pictures_on_the_wall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
	z-index: 1;
	height: 90vh;
}

div.main-header-content {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
}
    
div.main-header-content h1 {
	color: white;
	font-weight: 200;
	font-size: 4em;
	margin: 0;
}

div.main-header-content h3 {
	margin: 0;
	font-weight: 100;
    color: white;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

button {
	background-color: #0ed8d6;
	border: solid 1px #0ed8d6;
	height: 60px;
	width: 170px;
	font-size: 18px;
	color: white;
    margin-top: 30px;
    text-transform: uppercase;
}

button:hover {
    background-color: lightslategrey;
	border: solid 1px lightslategrey;
}

/* ALL ICONS */

.social-media-icons a {
    color: #fff;
    font-size: 18px;
    background-color: black;
    margin: 7px 3px;    
    padding: 6px 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #222222;
    z-index: 99;
    
}

.social-media-icons a:first-child {
    padding: 5px 12px;
    
}

.social-media-icons a:hover {
    background-color: #0ed8d6;
    z-index: 4;
}

/* fontawesome in service */
.round {
    background-color: #0ed8d6;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    margin: 20px 20px;    
    padding: 17px 19px;
    
}


/* SERVICES */

div#service-icons {
    padding: 30px 0;
}

div#service-icons p {
    font-size: 12px;
    font-style: normal;
}

/* PORTFOLIO */

#portfolio {
	background-color: #f7f7f7;
}

#portfolio .container .row .single-portfolio-img {
	background-position: center;
	background-size: cover;
    height: 270px;
	width:  370px;
    font-size: 0;
	position: relative;
}

#portfolio-img1 {
	background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
	background-size: cover;
	position: relative;
}

#portfolio-img2 {
	background-image: url(../img/portfolio/typing_on_laptop.jpg);
	background-size: cover;
	position: relative;
}

#portfolio-img3 {
	background-image: url(../img/portfolio/child_with_blue_paint.jpg);
	background-size: cover;
	position: relative;
}

#portfolio-img4 {
	background-image: url(../img/portfolio/chaotic_paint.jpg);
	background-size: cover;
	position: relative;
}

#portfolio-img5 {
	background-image: url(../img/portfolio/house_with_blue_doors.jpg);
	background-size: cover;
	position: relative;
}

#portfolio-img6 {
	background-image: url(../img/portfolio/box_of_cookies.jpg);
	background-size: cover;
	position: relative;
}

#portfolio .container .row .single-portfolio-img .single-portfolio-img-mask {
	background: rgba(14, 216, 214, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;  
    opacity: 0;
	transition: all 0.5s ease-in;	
}

#portfolio .container .row .single-portfolio-img .single-portfolio-img-mask i{
	font-size: 50px;
	color: white;
    margin-top: 30%;
}

#portfolio .container .row .single-portfolio-img .single-portfolio-img-mask:hover{
	opacity: 1;
}

#portfolio .container .row .single-portfolio-opis {
	background-color: white;
	width: 370px;
	height: 110px;
    margin: -13px 0;
    padding: 12px 0;
    margin-bottom: 15px;
}


/* TEAM */


#man1 {
	background-image: url(../img/team/man-1.jpg);
    display: inline-block;
}

#man2 {
	background-image: url(../img/team/man-2.jpg);
    display: inline-block;
}

#woman1 {
	background-image: url(../img/team/woman-1.jpg);
    display: inline-block;
}

section#team div.one-team-member div.member-avatar{
	height: 200px;
	width: 200px;
	background-size: cover;
    background-position: center;
	border-radius: 100%;
    text-align: center;
}

div.one-team-member h4 {
    color: #333333;
	font-family: 'Montserrat';   
}	


/* CONTACTS */


section#contact {
    background: 
    linear-gradient(
      rgba(5, 0, 0, 0.5), 
      rgba(5, 0, 0, 0.5)
    ),url(../img/footer/world-map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact div.row {
    color: white;
    margin: 4% 0;
}


section#contact div#contact-form form input {
    padding: 27px;
    margin-bottom: 15px;
    border: 0 solid #f7f7f7;
}

.form-control {
    display: inline-block;
}

div#contact-content h3 {
    color: white;
    font-size: 40px;
}

div#send-button input#button {
    background-color: #0ed8d6;
	border: solid 1px #0ed8d6;
	height: 60px;
	width: 200px;
	font-size: 18px;
	color: white;
}

div#send-button input#button:hover {
    background-color: lightslategrey;
	border: solid 1px lightslategrey;
}

/* FOOTER */

div#policy, div#tresc {
    margin-top: 1.5%;
}

/* COOKIES */

#cookie-warn{
    position: fixed;
    bottom: 0;
    background: #EEE;
    margin: 0;
    padding: 15px;
    width: 100%;
    display: none;
    z-index: 99;
}
 
#cookie-warn a{
    color: #D66E1A;
    text-transform: uppercase;
    float: right;
    padding-right: 20px;
}
 
#cookie-warn p{
    font-size: 12px;
    color: #333;
}

@media all and (max-width: 480px) {
    
    textarea {
    transform: none;
    }

    div.main-header-content h1, div.main-header-content h3 {
        font-size: 1em;
    }
    
    .row {
       padding: 0 0;
       margin-left: 0;
       margin-right: 0;
    }
}

/* zmienić aby w dropdown menu linki pojawiały się z prawej strony */